<!DOCTYPE html>
<html>
  <head>
    <title>Rails Reservations</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="flash">
      <%- flash.keys.each do |kind| %>
        <div class=<%= kind %>>
          <%= flash[kind] %>
        </div>
      <%- end %>
    </div>
    <%= yield %>
  </body>
</html>
